body {
    margin: 0px;
    padding: 0;
    background-color: #EFE5DC;
}





h1 {
    color: white;
}

.muffin-maker {
   
    width: 125vh;
    height: 70vh;
    padding-top: 100px;

    display: block;
    margin-right: auto;
    margin-left: auto;
}

.muffin-container{
   
    width: 500px;
  height: 500px;
 
  position: relative;
/*   margin: auto; */

  left: 50%;
transform: translateX(-50%);
  
  

}

.img-muffin, .img-icing , .img-topping{
    overflow: hidden; 
    position: absolute;
   
  
    height: 100%;

 
   
}


.muffin, .icing, .topping {
 
    width: 500px; 
    height:100%;
    
  }


.img-icing{

top: -150px;

}



.img-topping{
    top: -150px; 
    
z-index: 3;

}

.img-pfeil{
        width: 40%;
        height: 40%;
}


.third-layer
{
position: absolute;
width: inherit;
top: 600px;

}
.first-layer{

    position: absolute;
width: inherit;
top: 300px;



}

.second-layer{
    position: absolute;
width: inherit;
top: 450px;

}

.img-pfeil-links{
    width: 50%;
    height: 50%;
    rotate: 180deg;
}

.img-pfeil-rechts{
    width: 50%;
    height: 50%;
}

.pfeil-rechts-oben{
    float: right;
    
    }

.text{
height: inherit;

    
float: right;

margin-right: 20px;


border: none;
background: none;
/* background-color: #EFE5DC; */
/* 
    border: none;
    border-radius: 5px; */
    color: #602437;
  /*   color: white; */
    
    font-family: 'Merienda', cursive;
     
}



 


    
    .pfeil-rechts-mitte{
       float: right;
      
       
     
    }    

    .pfeil-rechts-unten {

        float: right;
    }

 

.pfeil-links-oben{

}

.pfeil-links-mitte{
 
}

.pfeil-links-unten{

}











.center{
        position: relative;

}



h3 {
    margin-left: auto;
    margin-right: auto;

    border: 8px solid rgb(128, 0, 119);
    padding: 5px;
    width: fit-content;


}

nav {
    text-align: center;

}

.navbar ul {
    list-style-type: none;
    background-color: hsl(0, 1%, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: inline-block;


}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;

}

.navbar a:hover {
    background-color: aliceblue;
    color: black;

}

.navbar li {
    float: left;


}