body {
  margin: 0px;
  padding: 0;
  background-color: #ffffff;
}

main {
  /* height: 70vh; */
}

hr {
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border: 8px solid #EFE5DC;
}


.center {
  position: relative;
}

.muffin-maker {
  width: 125vh;
  padding-top:75px;
  display: block;
  /*   margin-right: auto;
  margin-left: auto; */

  margin-left: 2%;
}

.muffin-container {
  width: 500px;
  height: 500px;

  position: relative;
  /*   margin: auto; */

  left: 18%;
  /* transform: translateX(-50%); */
}

.img-muffin,
.img-icing,
.img-topping {
  overflow: hidden;
  position: absolute;
  height: 100%;
}

.muffin1,
.icing,
.topping {
  width: 500px;
  height: 100%;
}

.img-icing {
  top: -150px;
}

.img-topping {
  top: -150px;

  z-index: 3;
}

.img-pfeil {
  width: 40%;
  height: 40%;
}

.first-layer,
.second-layer,
.third-layer {
  padding-top: 90px;
  position: absolute;
  width: inherit;
}

.first-layer {
  top: 250px;
}

.second-layer {
  top: 400px;
}

.third-layer {
  top: 550px;
}

.img-pfeil-links {
  width: 50%;
  height: 50%;
  rotate: 180deg;
}

.img-pfeil-rechts {
  width: 50%;
  height: 50%;
}

.first-layer button,
.second-layer button,
.third-layer button {
  border: none;
  background-color: #efe5dc;
  cursor: pointer;
  font-family: "Merienda", cursive;
  border-radius: 20px;
}

.first-layer button:hover img,
.second-layer button:hover img,
.third-layer button:hover img {
  filter: opacity(50%);
}

.first-layer button:active img,
.second-layer button:active img,
.third-layer button:active img {
  filter: opacity(100%);
}
.first-layer button:active,
.second-layer button:active,
.third-layer button:active {
  transform: translateY(4px);
}

.pfeil-rechts-oben,
.pfeil-rechts-mitte,
.pfeil-rechts-unten {
  float: right;
}

.pfeil-rechts-oben,
.pfeil-rechts-mitte,
.pfeil-rechts-unten {
  margin-left: 20px;
}

.text {
  height: inherit;

  float: right;

  margin-right: 20px;
  margin-top: 10px;
  border: none;
  background: none;
  color: #602437;

  font-family: "Merienda", cursive;
}

#safe-muffin {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #602437;
  color: white;
  cursor: pointer;
  font-family: "Merienda", cursive;
}

#safe-muffin:hover {
  background-color: #402437;
}

.zutaten {
  width: 80%;
  margin-right: 100%;
  margin-left: 10%;
}

.zutatenliste {
}

.rezepte {
  width: 25%;
  float: right;
  height: inherit;
  margin-right: 2%;
}



#topping1zutaten--einfügen {
  width: inherit;
}

@media screen and (min-width: 1130px) and (max-width: 1300px) {
  .rezepte,
  .muffin-container,
  .first-layer,
  .second-layer,
  .third-layer {
    transform: scale(0.7);
    
    transform-origin: top left;
  }

  .dopDown{
    min-width: none;
  }

  .muffin-container {
    left: 17%;
    min-width: 1150px;
  }

  .first-layer {
    top: 230px;
    min-width: 1150px;
  }

  .second-layer {
    top: 335px;
    min-width: 1150px;
  }

  .third-layer {
    top: 440px;
    min-width: 1150px;
  }

  .rezepte {
    top: 500px;
  }
}

@media screen and (max-width: 1129px) {

 .muffin-container,
  .first-layer,
  .second-layer,
  .third-layer {
    transform: scale(0.5);
    
    transform-origin: top left;
  }

  .rezepte{
transform: scale(0.7);
transform-origin: top;
  }


  .muffin-container {
    left: 17%;
    min-width: 1150px;
  }

  .first-layer {
    top: 230px;
    min-width: 1150px;
  }

  .second-layer {
    top: 335px;
    min-width: 1150px;
  }

  .third-layer {
    top: 440px;
    min-width: 1150px;
  }

  .rezepte {
    top: 500px;
  }

}
