@font-face {
    font-family: 'Pacifico';
    src: url('fonts/Pacifico-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Merienda';
    src: url('fonts/Merienda-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik-VariableFont_wght.ttf') format('truetype');
}

body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
}

.sitecontainer{
    min-height: calc(100vh - 70px);
}

h1{
    font-size: 75px;
    text-align: center  ;
    font-family: "Pacifico", cursive;
    color: #602437;
    margin-top: -10px;
    margin-bottom: -10px;
    text-shadow: 2px 1px 4px #696565;
}

hr {
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border: 8px solid #EFE5DC;
}

#nav-bar {
    height: 10vh;
    background-color: #252422;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#nav-bar a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin-left: 5px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Merienda';
}

#nav-bar .nav-home {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #252422;
    flex-basis: 25%;
    height: 100%;
}

.logo-wrap {
    display: inline-block;
    width: 80px;
    height: 50px;
    background: url('Bilder/Logo/Logo.png') no-repeat center center;
    background-size: 85px 85px;
    transition: background-size 0.3s ease-in-out;
}

.logo-wrap:hover {
    background-size: 90px 90px;
}


#nav-bar a:hover,
#nav-bar a:focus {
    background-color: #602437;
    border-radius: 15px;
}


.nav-login-dropdown {
    position: relative;
    display: inline-block;
    margin-left: 35%;
}

.nav-login-dropdown-content {
    display: none;
    position: absolute;
    background-color: #252422;
    z-index: 1;
    border-radius: 15px; 
    top: 105%; 
    margin-top: 5px; 
}
.nav-login-dropdown-content a {
    display: block;
}

.nav-login-dropdown:hover .nav-login-dropdown-content {
    display: block;
}

.footer {
    position: relative;
    width: 100%;
    height: 50px; 
    background-color: #f2f2f2; 
    color: rgb(84, 84, 84);
    text-align: center;
    padding: 10px 0;
}

/* Login/Register */

.form-wrapper {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 60vh;
    gap: 20px;
}

.form-container {
    width: calc(50% - 10px);
    max-width: 400px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: #FFFFFF;
}

.form-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

 .form-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #602437;
    color: white;
    cursor: pointer;
    font-family: 'Merienda', cursive;
}

.form-button:hover {
    background-color: #402437;
} 

.form-box input {
    width: 95%;
    padding: 10px; 
    margin-bottom: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {

    h1{
    font-size: 50px;  
    }   
  
  }
  
  @media  screen and (max-width: 767px) {
  
    h1{
      font-size: 25px;
    }
   }