<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Meine Muffins</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/meineMuffinsLayout.css">
    <link rel="stylesheet" href="./css/meineMuffinsStyle.css">
    <script src="./js/script.js"></script>
    <script src="./js/meineMuffinsScript.js"></script>
</head>

<body>
    <div class="sitecontainer" id="sitecontainer">
    <nav id="nav-bar">
        <div class="nav-home">
            <a class="logo-wrap" href="home.html"></a>
        </div>
        <a class="nav-link" href="meineMuffins.html" style="margin-left: 25px;">Meine Muffins</a>
        <a class="nav-link" href="muffinDerWoche.html">Muffin der Woche</a>
        <div class="nav-login-dropdown">
            <a class="nav-login" href="login.html">Login</a>
        </div>
    </nav>

    <div class="titel--grid seitenTitel">
        <hr>
        <h1 class="titel">Meine Muffins</h1>
        <p class="titel__beschreibung">Hier sind deine gespeicherten Muffins!</p>
        <hr>
    </div>
    </div>
    <footer class="footer">
        <p>&copy; 2024 Muffin Maker. Alle Rechte vorbehalten.</p>
    </footer>
</body>
</html>
