/* DEFINIERUNG ALLER GRID AREA NAMEN */
nav{
    grid-area: nav
}

main{
    grid-area: main;
    margin-bottom: 50px;
}

#muffinDerWoche{
    grid-area: muffinDerWoche;
}

#muffinDerWoche--SeitenTitel {
    grid-area: muffinDerWoche--SeitenTitel;
}

#muffinDerWoche--SeitenTitel--erklärung {
    grid-area: mDW-e;
}

#muffinDerWoche--titel{
    grid-area: mDW-t;
}

#muffinDerWoche--rezept{
    grid-area: mDW-r;
}

#muffinDerWoche--zutatent{
    grid-area: mDW-z;
}

#muffinDerWoche--bild {
    grid-area: mDW-b;
}

#muffinsDerWochenZuvor {
    grid-area: muffinsDerWocheZuvor;
}

#muffinsDerWochenZuvor--überschrift {
    grid-area: mDWZ-ü;
}

#muffinsDerWochenZuvor--muffin1{
    grid-area: mDWZ-m1;
}

#muffinsDerWochenZuvor--muffin2{
    grid-area: mDWZ-m2;
}

#muffinsDerWochenZuvor--muffin3{
    grid-area: mDWZ-m3;
}

#muffinsDerWochenZuvor--muffin4{
    grid-area: mDWZ-m4;
}

#muffinsDerWochenZuvor--muffin5{
    grid-area: mDWZ-m5;
}

#muffinsDerWochenZuvor--muffin1--h3{
    grid-area: mDWZ-m1-h3;
}

#muffinsDerWochenZuvor--muffin1--beschreibung{
    grid-area: mDWZ-m1-b;
}

#muffinsDerWochenZuvor--muffin1--images{
    grid-area: mDWZ-m1-i;
}

#muffinsDerWochenZuvor--muffin2--h3{
    grid-area: mDWZ-m2-h3;
}

#muffinsDerWochenZuvor--muffin2--beschreibung{
    grid-area: mDWZ-m2-b;
}

#muffinsDerWochenZuvor--muffin2--images{
    grid-area: mDWZ-m2-i;
}

#muffinsDerWochenZuvor--muffin3--h3{
    grid-area: mDWZ-m3-h3;
}

#muffinsDerWochenZuvor--muffin3--beschreibung{
    grid-area: mDWZ-m3-b;
}

#muffinsDerWochenZuvor--muffin3--images{
    grid-area: mDWZ-m3-i;
}

#muffinsDerWochenZuvor--muffin4--h3{
    grid-area: mDWZ-m4-h3;
}

#muffinsDerWochenZuvor--muffin4--beschreibung{
    grid-area: mDWZ-m4-b;
}

#muffinsDerWochenZuvor--muffin4--images{
    grid-area: mDWZ-m4-i;
}

#muffinsDerWochenZuvor--muffin5--h3{
    grid-area: mDWZ-m5-h3;
}

#muffinsDerWochenZuvor--muffin5--beschreibung{
    grid-area: mDWZ-m5-b;
}

#muffinsDerWochenZuvor--muffin5--images{
    grid-area: mDWZ-m5-i;
}

/* LAYOUT FÜR DIE VERSCHIEDENEN BILDSCHIRMGRÖßEN */
@media screen and (min-width: 1280px){

    body{
        display: grid;
        grid-auto-rows: max-content;
        grid-template-columns: 9% 1fr 9%;
        grid-template-areas:
            'nav nav nav'
            'muffinDerWoche--SeitenTitel muffinDerWoche--SeitenTitel muffinDerWoche--SeitenTitel'
            '. main .'
            '. main .'
            'footer footer footer';
        font-size: 110%;
    }

    #muffinDerWoche--SeitenTitel-h1{
        font-size: 100px;
    }

    main{
        display: grid;
        grid-auto-rows: max-content;
        grid-row-gap: 3%;
        grid-template-areas:
        'muffinDerWoche'
        'muffinsDerWocheZuvor';
    }

    hr {
        border: 10px solid #EFE5DC;
    }

    #muffinDerWoche--SeitenTitel--erklärung{
        font-size: smaller;
    }

    #muffinDerWoche{
        display: grid;
        grid-auto-rows: max-content;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 2%;
        grid-template-areas:
        'mDW-t mDW-t mDW-t'
        '. mDW-b .'
        'mDW-z mDW-r mDW-r';
    }

    #muffinDerWoche--bild{
        height: 450px;
        width: 450px;
        justify-content: center;
    }

    #muffinDerWoche--zutatent{
        margin-left: 5%;
    
    }

    #muffinsDerWochenZuvor{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 20% 1fr;
        grid-gap: 3%;
        grid-template-areas:
        'mDWZ-ü mDWZ-ü mDWZ-ü mDWZ-ü mDWZ-ü'
        'mDWZ-m1 mDWZ-m2 mDWZ-m3 mDWZ-m4 mDWZ-m5';
    }

    #muffinsDerWochenZuvor--muffin1{
        display: grid;
        grid-template-columns: 4% 15% 1fr 4%;
        grid-template-areas: 
        '. mDWZ-m1-h3 mDWZ-m1-h3 .'
        '. . mDWZ-m1-i .'
        '. mDWZ-m1-b mDWZ-m1-b .';

    }

    #muffinsDerWochenZuvor--muffin2{
        display: grid;
        grid-template-columns: 4% 15% 1fr 4%;
        grid-template-areas: 
        '. mDWZ-m2-h3 mDWZ-m2-h3 .'
        '. . mDWZ-m2-i .'
        '. mDWZ-m2-b mDWZ-m2-b .';

    }

    #muffinsDerWochenZuvor--muffin3{
        display: grid;
        grid-template-columns: 4% 15% 1fr 4%;
        grid-template-areas: 
        '. mDWZ-m3-h3 mDWZ-m3-h3 .'
        '. . mDWZ-m3-i .'
        '. mDWZ-m3-b mDWZ-m3-b .';

    }

    #muffinsDerWochenZuvor--muffin4{
        display: grid;
        grid-template-columns: 4% 15% 1fr 4%;
        grid-template-areas: 
        '. mDWZ-m4-h3 mDWZ-m4-h3 .'
        '. . mDWZ-m4-i .'
        '. mDWZ-m4-b mDWZ-m4-b .';

    }

    #muffinsDerWochenZuvor--muffin5{
        display: grid;
        grid-template-columns: 4% 15% 1fr 4%;
        grid-template-areas: 
        '. mDWZ-m5-h3 mDWZ-m5-h3 .'
        '. . mDWZ-m5-i .'
        '. mDWZ-m5-b mDWZ-m5-b .';

    }

}



@media screen and (min-width: 768px) and (max-width: 1279px){
    body{
        display: grid;
        grid-auto-rows: max-content;
        grid-template-columns: 4% 1fr 4%;
        grid-template-areas:
            'nav nav nav'
            'muffinDerWoche--SeitenTitel muffinDerWoche--SeitenTitel muffinDerWoche--SeitenTitel'
            '. main .'
            '. main .'
            'footer footer footer';
        font-size: 110%;
    }

    #muffinDerWoche--SeitenTitel-h1{
        font-size: 75px;
    }

    main{
        display: grid;
        grid-auto-rows: max-content;
        grid-row-gap: 1%;
        grid-template-areas:
        'muffinDerWoche'
        'muffinsDerWocheZuvor';
    }

    hr{
        border: 8px solid #EFE5DC;
    }

    #muffinDerWoche--SeitenTitel--erklärung{
        font-size: smaller;
    }

    #muffinDerWoche{
        display: grid;
        grid-auto-rows: max-content;
        grid-template-columns: 10% 80% 10%;

        grid-template-areas:
        'mDW-t mDW-t mDW-t'
        '. mDW-b .'
        '. mDW-z .'
        '. mDW-r .';
    }


    #muffinDerWoche--bild{
        height: 600px;
        width: 600px;
    }


    #muffinsDerWochenZuvor{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: max-content 250px 250px 250px;
        grid-gap: 3%;
        grid-template-areas:
        'mDWZ-ü mDWZ-ü'
        'mDWZ-m1 mDWZ-m2'
        'mDWZ-m3 mDWZ-m4'
        'mDWZ-m5  .';
    }

    #muffinsDerWochenZuvor--muffin1{
        display: grid;
        grid-template-columns: 1% 27% 7% 1fr 2%;
        grid-template-rows: 20% 1fr 1fr 28%;
        grid-template-areas: 
        '. mDWZ-m1-i . . .'
        '. mDWZ-m1-i . mDWZ-m1-h3 .'
        '. mDWZ-m1-i . mDWZ-m1-b .'
        '. mDWZ-m1-i . . .';

    }

    #muffinsDerWochenZuvor--muffin2{
        display: grid;
        grid-template-columns: 1% 27% 7% 1fr 2%;
        grid-template-rows: 20% 1fr 1fr 28%;
        grid-template-areas: 
        '. mDWZ-m2-i . . .'
        '. mDWZ-m2-i . mDWZ-m2-h3 .'
        '. mDWZ-m2-i . mDWZ-m2-b .'
        '. mDWZ-m2-i . . .';

    }

    #muffinsDerWochenZuvor--muffin3{
        display: grid;
        grid-template-columns: 1% 27% 7% 1fr 2%;
        grid-template-rows: 20% 1fr 1fr 28%;
        grid-template-areas: 
        '. mDWZ-m3-i . . .'
        '. mDWZ-m3-i . mDWZ-m3-h3 .'
        '. mDWZ-m3-i . mDWZ-m3-b .'
        '. mDWZ-m3-i . . .';

    }

    #muffinsDerWochenZuvor--muffin4{
        display: grid;
        grid-template-columns: 1% 27% 7% 1fr 2%;
        grid-template-rows: 20% 1fr 1fr 28%;
        grid-template-areas: 
        '. mDWZ-m4-i . . .'
        '. mDWZ-m4-i . mDWZ-m4-h3 .'
        '. mDWZ-m4-i . mDWZ-m4-b .'
        '. mDWZ-m4-i . . .';

    }

    #muffinsDerWochenZuvor--muffin5{
        display: grid;
        grid-template-columns: 1% 27% 7% 1fr 2%;
        grid-template-rows: 20% 1fr 1fr 28%;
        grid-template-areas: 
        '. mDWZ-m5-i . . .'
        '. mDWZ-m5-i . mDWZ-m5-h3 .'
        '. mDWZ-m5-i . mDWZ-m5-b .'
        '. mDWZ-m5-i . . .';

    }
}



@media  screen and (max-width: 767px){
    body{
        display: grid;
        grid-auto-rows: max-content;
        grid-template-columns: 4% 1fr 4%;
        grid-template-areas:
            'nav nav nav'
            'muffinDerWoche--SeitenTitel muffinDerWoche--SeitenTitel muffinDerWoche--SeitenTitel'
            '. main .'
            '. main .'
            'footer footer footer';
        font-size: 110%;
    }

    #muffinDerWoche--SeitenTitel-h1{
        font-size: 50px;
    }


    #muffinDerWoche--SeitenTitel--erklärung{
        font-size: smaller;
    }

    hr{
        border: 5px solid #EFE5DC;
    }

    main{
        display: grid;
        grid-auto-rows: max-content;
        grid-row-gap: 1%;
        grid-template-areas:
        'muffinDerWoche'
        'muffinsDerWocheZuvor';
    }

    #muffinDerWoche{
        display: grid;
        grid-auto-rows: max-content;
        grid-template-columns: 10% 80% 10%;

        grid-template-areas:
        'mDW-t mDW-t mDW-t'
        '. mDW-b .'
        '. mDW-z .'
        '. mDW-r .';
    }


    #muffinDerWoche--bild{
        height: 300px;
        width: 300px;
        align-self: center;
    }


    #muffinsDerWochenZuvor{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: max-content 250px 250px 250px 250px 250px;
        grid-gap: 3%;
        grid-template-areas:
        'mDWZ-ü'
        'mDWZ-m1'
        'mDWZ-m2'
        'mDWZ-m3'
        'mDWZ-m4'
        'mDWZ-m5';
    }

    #muffinsDerWochenZuvor--muffin1{
        display: grid;
        grid-template-columns: 1% 27% 7% 1fr 2%;
        grid-template-rows: 10% 1fr 1fr 10%;
        grid-template-areas: 
        '. mDWZ-m1-i . . .'
        '. mDWZ-m1-i . mDWZ-m1-h3 .'
        '. mDWZ-m1-i . mDWZ-m1-b .'
        '. mDWZ-m1-i . . .';

    }

    #muffinsDerWochenZuvor--muffin2{
        display: grid;
        grid-template-columns: 1% 27% 7% 1fr 2%;
        grid-template-rows: 10% 1fr 1fr 10%;
        grid-template-areas: 
        '. mDWZ-m2-i . . .'
        '. mDWZ-m2-i . mDWZ-m2-h3 .'
        '. mDWZ-m2-i . mDWZ-m2-b .'
        '. mDWZ-m2-i . . .';

    }

    #muffinsDerWochenZuvor--muffin3{
        display: grid;
        grid-template-columns: 1% 27% 7% 1fr 2%;
        grid-template-rows: 10% 1fr 1fr 10%;
        grid-template-areas: 
        '. mDWZ-m3-i . . .'
        '. mDWZ-m3-i . mDWZ-m3-h3 .'
        '. mDWZ-m3-i . mDWZ-m3-b .'
        '. mDWZ-m3-i . . .';

    }

    #muffinsDerWochenZuvor--muffin4{
        display: grid;
        grid-template-columns: 1% 27% 7% 1fr 2%;
        grid-template-rows: 10% 1fr 1fr 10%;
        grid-template-areas: 
        '. mDWZ-m4-i . . .'
        '. mDWZ-m4-i . mDWZ-m4-h3 .'
        '. mDWZ-m4-i . mDWZ-m4-b .'
        '. mDWZ-m4-i . . .';

    }

    #muffinsDerWochenZuvor--muffin5{
        display: grid;
        grid-template-columns: 1% 27% 7% 1fr 2%;
        grid-template-rows: 10% 1fr 1fr 10%;
        grid-template-areas: 
        '. mDWZ-m5-i . . .'
        '. mDWZ-m5-i . mDWZ-m5-h3 .'
        '. mDWZ-m5-i . mDWZ-m5-b .'
        '. mDWZ-m5-i . . .';

    }

    .footer{
        margin-top: 145px;
    }

}