body{
    font-family: "Rubik", sans-serif;
    background: white;
}

/* TITEL */
.seitenTitel{
    text-align: center;
}

.titel{
    font-family: "Pacifico", cursive;
    color: #602437;
    margin-top: -10px;
    margin-bottom: -10px;
    text-shadow: 2px 1px 4px #696565;
}
.titel__beschreibung{

}

hr {
    border: 10px solid #EFE5DC;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

/* MUFFIN BEZEICHNUNG*/
.name{
    background: #602437;
    padding: 10px;
    box-shadow: 5px 10px 15px #bdbaba;

}

.name--style{
    /* Style von dem Namen des Muffins */
    margin-left: 20px;
    font-family: "Merienda", cursive;
    color: white;
    align-self: center;

}

.bild{
    /* Erstellt einen runden, weißen Container in dem die einzelnen Bilder sind */

    overflow: hidden;
    border-radius: 50%;
    background: white;
    position: relative;
    align-self: center;
    border: 2px solid #252422;

}

.bild__muffin{
    /* Anpassen der Position von dem Muffin Bild */
    display: block;
    position: absolute;
    height: auto;
    width: 80%;
    z-index: 0;
    top: 20%;
    left: 9%;
}

.bild__icing{
    /* Anpassen der Position von dem Icing Bild */
    display: block;
    position: absolute;
    height: auto;
    width: 80%;
    z-index: 1;
    top: -9%;
    left: 10%;
    rotate: -3deg;
}

.bild__topping{
    /* Anpassen der Position von dem Topping Bild */
    display: block;
    position: absolute;
    height: auto;
    width: 80%;
    z-index: 2;
    top: -9%;
    left: 10%;
    rotate: -3deg;
}


.pfeilButton{
    /*Positioniert Pfeil Button rechts auf der Leiste*/
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    align-self: center;

}

.pfeilButton__bild--rechts{
    /*Pfeil zeigt nach rechts*/
    transition: .2s ease-in-out;
}

.pfeilButton__bild--unten{
    /*Anzeige von Pfeil nachdem er geklickt wurde (zeigt nach unten)*/
    transform: rotate(90deg);
    transition: .2s ease-in-out;
}

.dropDown{
    background: #EFE5DC;
    box-shadow: 5px 10px 15px #bdbaba;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 2px solid #602437;
}




.anleitung__titel, .zutaten__titel{
    font-family: "Merienda", cursive;
}


.zutaten__überschrift, .anleitung__überschrift{
    font-style: italic;
}




